<div class="row">
  <div class="col-xl-4 col-md-6">
    <div class="card earning-card bg-warning text-white overflow-hidden">
      <span class="round secondary-round small"></span>
      <span class="round secondary-round big"></span>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div class="avatar avatar-lg">
              <i class="text-white ti ti-credit-card f-24"></i>
            </div>
          </div>
          <div class="col-auto">
          </div>
        </div>
        <span class="text-white d-block f-34 f-w-500 my-2">
           10 Items
          <i class="ti ti-circle-arrow-up-right opacity-50" (click)="openItemModal()" style="cursor: pointer;"></i>
          <!-- <button class="btn btn-primary mb-3" (click)="openItemModal()">Show Item Table</button> -->

        </span>
        <p class="mb-0 opacity-50">Near By Expiry Date</p>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-md-6">
    <div class="card earning-card bg-danger text-white overflow-hidden">
      <span class="round primary-round small"></span>
      <span class="round primary-round big"></span>
      <div class="card-body">
        <app-chart-data-month />
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-md-6">
    <div class="card earning-card  bg-primary-dark text-white overflow-hidden">
      <span class="round secondary-round small"></span>
      <span class="round secondary-round big"></span>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div class="avatar avatar-lg">
              <i class="text-white ti ti-credit-card f-24"></i>
            </div>
          </div>
          <div class="col-auto">
          </div>
        </div>
        <span class="text-white d-block f-34 f-w-500 my-2">
           100 Items
          <i class="ti ti-circle-arrow-up-right opacity-50"></i>
        </span>
        <p class="mb-0 opacity-50">Total Records</p>
      </div>
    </div>
  </div>

  <div class="col-xl-8 col-md-12">
    <app-bar-chart />
  </div>
  <div class="col-xl-4 col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row mb-3 align-items-center">
          <div class="col">
            <h4>Recent 5 Expiry Items</h4>
          </div>
          <div class="col-auto"></div>
        </div>
        <div class="rounded bg-light-secondary overflow-hidden mb-3">
          <div class="px-3 pt-3">
            <!-- <div class="row mb-1 align-items-start">
              <div class="col">
                <h5 class="text-secondary mb-0">Bajaj Finery</h5>
                <small class="text-muted">10% Profit</small>
              </div>
              <div class="col-auto">
                <h4 class="mb-0">$1839.00</h4>
              </div>
            </div> -->
          </div>
          <!-- <app-bajaj-chart /> -->
        </div>
        <ul class="list-group list-group-flush">
          @for (list of ListGroup; track list) {
            <li class="list-group-item px-0 {{ list.space }}">
              <div class="row align-items-start">
                <div class="col">
                  <h5 class="mb-0">{{ list.name }}</h5>
                  <small class="{{ list.color }}">{{ list.profit }}</small>
                </div>
                <div class="col-auto">
                  <h4 class="mb-0">
                    {{ list.invest }}
                    <!-- <span class="ms-2 align-top avatar avatar-xxs {{ list.bgColor }}">
                      <i class="{{ list.icon }} {{ list.color }}"></i>
                    </span> -->
                  </h4>
                </div>
              </div>
            </li>
          }
        </ul>
        <div class="text-center">
          <a href="javascript:" class="b-b-primary text-primary f-w-500">
            View all
            <i class="ti ti-chevron-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-12 col-md-12">
    <div class="col-md-12">
      <app-card
        cardTitle="Inventory Expiry Report"
        cardClass="table-card bg-white text-dark"
        blockClass="p-0"
      >
        <div class="p-0" style="background-color: white; color: black;">
          <ng-scrollbar [style.max-height]="'362px'">
            <table
              class="table table-bordered table-hover table-striped mb-0"
              style="background-color: white; color: black;"
            >
              <thead class="table-light">
                <tr>
                  <th><span>Category</span></th>
                  <th><span>Item Name</span></th>
                  <th><span>Expiry Date</span></th>
                  <th><span>Department</span></th>
                  <th><span>Action</span></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of expiryItems; let i = index">
                  <td>{{ item.category }}</td>
                  <td>{{ item.name }}</td>
                  <td>
                    <!-- If not editing, show date -->
                    <ng-container *ngIf="editingIndex !== i; else datepicker">
                      {{ toDate(item.expiryDate) | date: 'yyyy-MM-dd' }}
                    </ng-container>
              
                    <!-- If editing, show the datepicker -->
                    <ng-template #datepicker>
                      <ngb-datepicker
                        [(ngModel)]="item.expiryDate"
                        (select)="saveDate(i)"
                        [displayMonths]="1"
                        [navigation]="'select'"
                        outsideDays="collapsed"
                      ></ngb-datepicker>
                    </ng-template>
                  </td>
                  <td>{{ item.department }}</td>
                  <td>
                    <button
                      class="btn btn-sm"
                      [ngClass]="editingIndex === i ? 'btn-success' : 'btn-outline-warning'"
                      (click)="toggleDatepicker(i)"
                    >
                      {{ editingIndex === i ? 'Save' : 'Update' }}
                    </button>
                  </td>
                </tr>
              </tbody>
              
            </table>
          </ng-scrollbar>
        </div>
      </app-card>
    </div>
  </div>


<!-- Modal Template -->
<ng-template #itemTableModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">List of Nearby Expiry Date</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <table
    class="table table-bordered table-hover table-striped mb-0"
    style="background-color: white; color: black;"
  >
    <thead class="table-light">
      <tr>
        <th><span>Category</span></th>
        <th><span>Item Name</span></th>
        <th><span>Expiry Date</span></th>
        <th><span>Department</span></th>
        <th><span>Action</span></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of expiryItems; let i = index">
        <td>{{ item.category }}</td>
        <td>{{ item.name }}</td>
        <td>
          <!-- If not editing, show date -->
          <ng-container *ngIf="editingIndex !== i; else datepicker">
            {{ toDate(item.expiryDate) | date: 'yyyy-MM-dd' }}
          </ng-container>
    
          <!-- If editing, show the datepicker -->
          <ng-template #datepicker>
            <ngb-datepicker
              [(ngModel)]="item.expiryDate"
              (select)="saveDate(i)"
              [displayMonths]="1"
              [navigation]="'select'"
              outsideDays="collapsed"
            ></ngb-datepicker>
          </ng-template>
        </td>
        <td>{{ item.department }}</td>
        <td>
          <button
            class="btn btn-sm"
            [ngClass]="editingIndex === i ? 'btn-success' : 'btn-outline-warning'"
            (click)="toggleDatepicker(i)"
          >
            {{ editingIndex === i ? 'Save' : 'Update' }}
          </button>
        </td>
      </tr>
    </tbody>
    
  </table>
  </div>
</ng-template>
</div>
